<div class="container">
  <div class="recipe-header">
  <div class="recipe-header-left">
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505" alt="">
    <div class="recipe-header-info">
      <div class="recipe-header-info-name">{{recipe.name}}</div>
    </div>
  </div>
  <div class="recipe-info">
    <!-- TADA make "description" different than {{recipe.description}}  -->
    <div class="recipe-info-description">description: {{recipe.description}}</div>
    <div class="recipe-info-difficulty_level">difficulty_level: {{recipe.difficulty_level}}</div>
    <div class="recipe-info-cooking_time">cooking_time: {{recipe.cooking_time}}</div>
    <div class="recipe-info-servings">servings: {{recipe.servings}}</div>
    <div class="recipe-info-meal">meal: {{recipe.meal}}</div>
  </div>
  <button class="btn btn-outline-success" style="color: black;">View Recipe</button>
</div>

