// .navbar{
//   padding: 0.5rem 1rem;
//   position: sticky;
//   top: 0;
//   width: 100%;
// }

// .navbar .nav-links a{
//   text-decoration: none;
//   padding: 0.5 1rem;
//   transition: background-color 0.3 ease-in-out;
// }

// .navbar .nav-links a:hover,
// .navbar .nav-links a.active{
//   color: #B3A398;
//   background-color: #BBC3A4;
//   border-radius: 4px;
// }

// .navbar{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #4f6f52;
//   padding: 0.5rem 1rem;
//   position: sticky;
//   top:0;
//   width:100%;
// }

// .navbar .brand-name {
//   font-size: 1.5rem;
//   font-weight: bold;
//   color: white;
//   padding-left: 0.5rem;
// }

// .navbar .nav-links a{
//   color: #333;
//   text-decoration: none;
//   padding: 0.5rem 1rem;
//   transition: background-color 0.3s ease-in-out;
// }

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
}
