/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('https://st2.depositphotos.com/3889193/7173/i/450/depositphotos_71739083-stock-photo-healthy-vegetarian-home-made-food.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1.5;
}
